html {
  min-height: 100%;
}

body {
  background-image: -webkit-linear-gradient(
    bottom left,
    #141e30,
    #243b55
  ) !important;

  padding-left: 10%;
  padding-right: 10%;
}

table,
th,
td {
  border: 1px solid black;
  background-color: rgba(255, 255, 255, 0.15) !important;
  backdrop-filter: blur(10px);
}

/* button {
  background-color: rgba(255, 255, 255, 0.453) !important;
  backdrop-filter: blur(5px);
} */

.oddsTableDiv {
  padding-top: 3%;
}

.buttons {
  text-align: center;
  align-self: center;
  padding-bottom: 1%;
}

.title {
  font-size: 300%;
  color: white;
}

.logo {
  height: 5em;
  width: 10em;
}

.logotitle {
  display: block;
}
